<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>File Upload</title>
    <link rel="stylesheet" href="../static/styles/indexStyles.css">
</head>
<body>
<div class="container">
    <h1>File Upload</h1>
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="button-container">
            <div class="file-input">
                {{ form.file() }}
            </div>
            <div class="submit-file">
                {{ form.submit() }}
            </div>
        </div>
    </form>
    <div class="error">
        {% block filetype_ %}
            {% if error.get("file", False) %}
                <p class="error-msg">
                    <strong>Error:</strong> {{ error["file"][0] }}
                </p>
            {% endif %}
        {% endblock %}
    </div>
    <div class="details">
        {% block details_ %}
            {% if details %}
                <div>
                    {% for h in details["1D"] %}
                        <h2>{{ h }}</h2>
                        <ul>
                            {% for i in details["1D"][h] %}
                                <li><strong>{{ i }}</strong> {{ details["1D"][h][i] }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
                {% for t in details["2D"] %}
                    <div>
                        <h2>{{ t }}</h2>
                        {% for d in details["2D"][t] %}
                            <h3>{{ d }}:</h3>
                            <ul>
                                {% for s in details["2D"][t][d] %}
                                    <li><strong>{{ s }}:</strong> {{ details["2D"][t][d][s] }}</li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}
    </div>
    {% endblock %}
    </div>
</body>
</html>
